.background {
  background: linear-gradient(#173244, white);
}

.main {
  // max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  position: relative;
  padding-top: 150px;

  select {
    font-family: "Open Sans";
    position: relative;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    appearance: none;
    padding: 9px;
    padding-right: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 216 216' style='enable-background:new 0 0 216 216;' xml:space='preserve'%3E%3Crect style='fill:%23FFFFFF;' width='216' height='216'/%3E%3Cpolygon style='fill:%2358595B;' points='72,92.25 144,92.25 108,132.75 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right;
    line-height: normal;
    // This variable should match the one
    // declared in the svg background
    border: 1px solid #aaa;
    border-radius: 5px;
    font-weight: 500;
  }

  // Bootstrap override
  label {
    font-weight: 500;
    margin-bottom: 0;
  }

  // bootstrap override
  legend {
    display: block;
    width: 100%;
    padding: initial;
    margin-bottom: unset;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: 0;
    border-bottom: none;
  }

  // bootstrap override
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: initial;
  }

  // bootstrap override
  input[type="radio"] {
    margin-right: 0.25em;
  }

  .wrapContainer,
  .titleContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .title {
      box-sizing: border-box;
      color: white;
      font-weight: 300;
      font-size: 1.7rem;
      text-transform: unset;
      margin-bottom: 1.8rem;
      width: 10em;
      margin-top: 2rem;
      margin-right: 2rem;

      strong {
        font-size: 3rem;
        font-weight: 800;
      }
    }

    .visualize,
    .predict,
    .show {
      margin-top: 2rem;
      display: flex;
      margin-right: 1rem;

      img {
        height: 2rem;
        margin-right: 1rem;
      }
      .text {
        color: #fff;
        font-size: 1.2rem;

        h2 {
          color: inherit;
          margin-bottom: 0.5rem;
        }

        p {
          margin-top: 1rem;
          font-weight: 300;
        }
      }
    }

    .visualize {
      width: 22.75em;
    }

    .predict {
      width: 20rem;
    }

    .show {
      width: 20rem;
      margin-right: 3rem;
    }

    // .dataDates {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-end;
    //   color: white;
    // }
  }

  .titleContainer {
    padding-bottom: 3rem;
    padding-top: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid white;
  }

  .wrapContainer {
    width: auto;
    flex-grow: 1;
  }

  .controlRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5rem;

    .selectControls {
      position: relative;
      display: flex;
      flex-direction: row;
      margin-bottom: 0.5rem;

      label {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 1rem;

        select {
          margin-top: 0.5rem;
          color: #333;
        }
      }
    }
    .navigator {
      // min-width: 50rem;
      width: 37rem;
    }
  }

  .tabrow {
    display: flex;

    button {
      background: none;
      border: none;
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }

    .location {
      // margin-left: auto;
      margin-bottom: 1rem;

      label {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1.1rem;

        select {
          margin-top: 0.5em;
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
          font-size: 1.1rem;
        }
      }
    }
  }

  .tabarea {
    padding: 1rem;
    background-color: #bde7ff;
    display: flex;
    flex-direction: column;

    .settingsBar {
      display: flex;

      label {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        select {
          margin-top: 0.5em;
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
        }
      }
    }
  }
}

.infoIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: -0.125em;
}
