@import "../../../../assets/styles/vars.scss";

.mapTooltip {
  .header {
    padding-left: 20px;
  }
}

.lockdown_level {
  .icon {
    display: flex;
    flex-flow: row;
    align-items: center;
    @include spaceItemsHoriz(10px);

    img {
      height: 40px;
      + div {
        font-size: 1.33rem;
        font-weight: bold;
        font-family: "rawline", serif;
        max-width: 100px;
        line-height: 1;
        position: relative;
        top: -2px;
      }
    }
  }
  .footer {
    margin-top: 1rem;

    a {
      img {
        height: 17px;
        margin-right: 5px;
      }

      font-family: "rawline", serif;
      font-size: 0.75rem;
      font-style: italic;
      color: #409385;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
      span {
        border-bottom: 1px solid #409385;
      }
      &:hover {
        $hover-color: lighten(#409385, 10%);
        color: $hover-color;
        span {
          border-bottom: 1px solid $hover-color;
        }
      }
    }
  }
}

// COVID-19 caseloads
.76,
.77,
.74,
.72 {
  display: flex;
  @include spaceItemsHoriz(10px);

  .value {
    font-family: "rawline", serif;
    @include rawlineFix();
    @include spaceItemsVert(5px);
    .number {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .unit {
      font-size: 0.9rem;
      font-family: "Raleway", serif;
      max-width: 100px;
    }
  }
  .trend {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    @include spaceItemsVert(5px);
    .sentiment {
      margin-right: 0;
      margin-bottom: 5px;
      border-radius: 4px;
      font-size: 0.79rem;
      + div {
        margin-top: 0;
        font-size: 0.7rem;
      }
    }
  }
}

// OLD styles
// .distancingLevel {
//   display: flex;
//   flex-flow: column;
//
//   font-family: "rawline", serif;
//   color: $dark-blue;
//   margin-bottom: 1rem;
//   max-width: 600px;
//
//   > div {
//     display: flex;
//   }
//   .iconSection {
//     display: flex;
//     align-items: center;
//     > img {
//       $size: 50px;
//       height: $size;
//       width: $size;
//       margin-right: 0.5rem;
//     }
//     .label {
//       display: flex;
//     }
//     .phaseName + .link {
//       margin-left: 0.5rem;
//     }
//     .category {
//       display: inline-flex;
//       align-items: flex-end;
//       font-weight: bold;
//       font-size: 1.5rem;
//       line-height: 1;
//       .link {
//         font-style: italic;
//         font-size: 0.8rem;
//         @include spaceItemsHoriz(0.5rem);
//         font-weight: normal;
//         a {
//           color: #519688;
//         }
//         img {
//           $size: 15px;
//           height: $size;
//           margin-right: 0.25rem;
//           margin-bottom: 2px;
//         }
//       }
//     }
//   }
//   .subtitle {
//     display: block;
//     max-width: 500px;
//     margin: 0.5rem 0 0.5rem 0;
//   }
// }
// .table {
//   font-family: "rawline", serif;
//   display: flex;
//   flex-flow: column;
//   @include spaceItemsVert(10px);
//   width: 100%;
//
//   .tableDrawer {
//     display: flex;
//     flex-flow: column;
//     width: 100%;
//     button {
//       width: max-content;
//       border: none;
//       background: none;
//       i {
//         position: relative;
//         top: 2px;
//         transform: rotate(90deg);
//         &.flipped {
//           transform: rotate(-90deg);
//         }
//       }
//     }
//     .header {
//       background-color: #ededed;
//       padding: 10px;
//       display: flex;
//       flex-flow: row;
//       @include spaceItemsHoriz(10px);
//       cursor: pointer;
//       justify-content: space-between;
//       :first-child {
//         max-width: 425px;
//       }
//       .num {
//         font-style: italic;
//         color: gray;
//         font-size: 0.9rem;
//       }
//     }
//     .content {
//       display: flex;
//       background-color: #ededed;
//       flex-flow: column;
//       padding-bottom: 0;
//       table {
//         margin-left: 0;
//         margin-top: 0;
//         padding-top: 0;
//         border-top: none;
//       }
//     }
//   }
//
//   .tableName {
//     font-size: 1.2rem;
//     font-weight: bold;
//     &:not(:first-child) {
//       margin-top: 2rem;
//     }
//   }
//   width: 600px;
//   overflow-y: auto;
//   max-height: 250px;
//   .instructions {
//     margin-left: 10px;
//     max-width: 500px;
//     font-style: italic;
//     color: gray;
//     margin-top: -10px;
//     font-family: "Open Sans", sans-serif;
//   }
//   table {
//     margin-left: 20px;
//     tbody {
//       display: flex;
//       overflow-y: auto;
//       max-height: 200px;
//       width: 100%;
//       flex-flow: column;
//       tr {
//         justify-content: space-between;
//         display: flex;
//       }
//     }
//     thead tr {
//       display: flex;
//       justify-content: space-between;
//     }
//   }
//   th,
//   td {
//     padding: 10px;
//     vertical-align: baseline;
//     &:nth-child(1) {
//       width: 70%;
//     }
//     &:nth-child(2) {
//       width: 30%;
//     }
//   }
//   td {
//     font-family: "Open Sans", sans-serif;
//   }
// }
