.categoryHeader {
  padding-top: 8px;
  padding-left: 0px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: -8px;

  h2 {
    font-family: "rawline";
    font-size: 22px;
    font-weight: 500;
    text-transform: none;
    color: #29334b;
    margin-left: 0.5rem;
    width: 100%;
    display: flex;
    align-items: baseline;

    span {
      font-weight: 400;
      font-size: 0.75em;
      margin-left: 0.5rem;
      margin-left: auto;

      strong {
        font-weight: 600;
      }
    }
  }
}

.categoryContainer {
  position: relative;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 10px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 5px;
    border-radius: 2.5px;
    background-color: #7fb0b4;
    content: "";
  }
}
