@import "src/assets/styles/vars.module.scss";
.mapPopup {
    background-color: $light-gray-2;
    border-radius: $border-radius;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}
