@import "../../../../assets/styles/vars.scss";

.mapTooltip {
  .header {
    padding-left: 20px;
  }
}

.lockdown_level {
  .icon {
    display: flex;
    flex-flow: row;
    align-items: center;
    @include spaceItemsHoriz(10px);

    img {
      height: 40px;
    }
    div {
      font-size: 1.5rem;
      font-weight: bold;
      font-family: "rawline", serif;
      line-height: 1;
      position: relative;
      top: -2px;
    }
  }
  .footer {
    margin-top: 1rem;

    a {
      img {
        height: 17px;
        margin-right: 5px;
      }

      font-family: "rawline", serif;
      font-size: 0.75rem;
      font-style: italic;
      color: #409385;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
      span {
        border-bottom: 1px solid #409385;
      }
      &:hover {
        $hover-color: lighten(#409385, 10%);
        color: $hover-color;
        span {
          border-bottom: 1px solid $hover-color;
        }
      }
    }
  }
}

// COVID-19 caseloads
.75,
.77,
.74,
.72 {
  display: flex;
  @include spaceItemsHoriz(30px, false);

  .value {
    font-family: "rawline", serif;
    @include rawlineFix();
    @include spaceItemsVert(5px);
    .number {
      font-size: 2rem;
      font-weight: bold;
    }
    .unit {
      font-size: 1.2rem;
      font-family: "Raleway", serif;
      max-width: 150px;
    }
  }
  .trend {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    @include spaceItemsVert(5px);
    .sentiment {
      margin-right: 0;
      margin-bottom: 5px;
      border-radius: 4px;
      // font-size: 0.79rem;
      + div {
        margin-top: 0;
        // font-size: 0.7rem;
      }
    }
  }
}
