@import "src/assets/styles/vars.module.scss";
.popupHeader {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    .left {
        .title {
            font-family: Rawline, serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.875rem;
            color: $idea-black;
            max-width: 8em;
        }
        .subtitle {
            font-family: Open Sans, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: $orange;
        }
    }
    .right {
        display: flex;
        margin-left: auto;
        text-align: right;
        .close {
            border: none;
            align-self: flex-start;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 5px;
            top: 0px;
            background-color: transparent;
            color: gray;
            &:hover {
                color: #333;
            }
            &:active {
                color: black;
            }
        }

        // make room for absolutely positioned close button
        // by adding right margin to penultimate right-side component
        &.withClose > :nth-last-child(2) {
            margin-right: 10px;
        }
    }
}
