.markerDot {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  // background-color: #7fb0b4;
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .arrow {
    width: 10px;
    height: 10px;
    background-size: contain;
    transition: 250ms ease;
    background-position: 50% 30%;
    background-repeat: no-repeat;
  }
}
