.st0 {
  fill: #8d64dd;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
  stroke: #c9c9c8;
  stroke-width: 1.5269;
  stroke-miterlimit: 10;
}
.st2 {
  fill: none;
}
.st3 {
  fill: #333333;
}
.st4 {
  font-family: 'Rawline';
  font-weight: 600;
}
.st5 {
  font-size: 19.0138px;
}
.st6 {
  fill: #4682b4;
}
.st7 {
  font-family: 'Rawline';
  font-weight: 600;
}
.st8 {
  font-size: 16.9649px;
}
