.main {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .pct {
    // Height set in JS
    width: 100%;
  }

  .chart {
    // Height set in JS
    width: 100%;
    padding-bottom: 1rem;
    padding-right: 7px;
    padding-top: 20px;
  }

  h1 {
    margin: 0;
    margin-left: 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #6d6d6d;
  }
}

.abovePlot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;

  select {
    padding: 9px;
    padding-right: 50px;
    margin-left: 1rem;
    font-size: 1rem;
    color: #333;
    font-family: "Open Sans";
  }
}

.instruction {
  display: inline-block;
  font-style: italic;
  display: flex;
  align-items: center;

  svg {
    flex-shrink: 0;
    height: 1.1em;
    width: 1.2em;
    margin-right: 0.25em;
  }
}

.legendLabel {
  display: inline-block;
  margin-left: 1rem;
  font-size: 16px;

  h4 {
    padding: 9px 15px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    color: #333;
    font-family: "Open Sans";
  }
}

.legend,
.proposedLegend {
  max-width: 22rem;
  padding: 0.25rem;

  .noPolicies,
  .lockdown,
  .safer,
  .no,
  .open,
  .stay,
  .partial,
  .proposed,
  .actuals,
  .modeled,
  .daily {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;

    font-size: 1rem;
    padding: 0.25rem 0;
    box-sizing: border-box;

    span {
      width: 1.5em;
      height: 1.5em;
      border-radius: 1em;
      margin-right: 0.5em;
    }
  }
  .noPolicies {
    // display: inline-block;
  }
  .lockdown {
    span {
      background-color: #661b3c;
    }
  }
  .stay {
    span {
      background-color: #c1272d;
    }
  }
  .safer {
    span {
      background-color: #d66b3e;
    }
  }
  .no {
    span {
      background-color: gray;
    }
  }
  .partial {
    span {
      background-color: #ecbd62;
    }
  }
  .open {
    span {
      background-color: #f4ddaf;
    }
  }
  .proposed {
    span {
      border: 3px solid #661b3c;
    }
  }
  .actuals {
    span {
      height: 4px;
      background-color: #7490a9;
    }
  }
  .modeled {
    span {
      height: 0;
      border: 2px solid #183344;
      border-style: dashed;
    }
  }
  .noPolicies {
    span {
      background-color: #bcd3ce;
      border-radius: 3px;
    }
  }
  .daily {
    span {
      position: relative;
      margin-left: 10px;
      margin-right: 16px;
      height: 12px;
      transform: scaleY(-1);
      border-radius: 0;

      &,
      &:before,
      &:after {
        width: 5px;
        background-color: #adadad;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
      }

      &:before {
        left: -7px;
        height: 7px;
      }

      &:after {
        right: -7px;
        height: 15px;
      }
    }
  }
}

.proposedLegend {
  .noPolicies,
  .lockdown,
  .safer,
  .no,
  .open,
  .stay,
  .partial,
  .proposed,
  .actuals,
  .modeled {
    span {
      background-color: #fff;
    }
  }
  .lockdown {
    span {
      border: 3px solid #661b3c;
    }
  }
  .stay {
    span {
      border: 3px solid #c1272d;
    }
  }
  .safer {
    span {
      border: 3px solid #d66b3e;
    }
  }
  .no {
    span {
      border: 3px solid gray;
    }
  }
  .partial {
    span {
      border: 3px solid #ecbd62;
    }
  }
  .open {
    span {
      border: 3px solid #f4ddaf;
    }
  }
  .proposed {
    span {
      border: 3px solid #661b3c;
    }
  }
  .actuals {
    span {
      height: 4px;
      background-color: #7490a9;
    }
  }
}

.infoIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: -0.125em;
  z-index: 10;
}

.ipopup {
  font-weight: 400;
  font-style: italic;
}
