@import "../../../assets/styles/vars.scss";
.style {
  height: 100%;
  width: 100%;
  position: relative;
  > :last-child {
    width: 100% !important;
    $drawer-header-height: 70px;
    height: calc(100% - #{$drawer-header-height}) !important;
  }

  .dark {
    &[role="filterButton"] {
      background-color: $light-gray-2;
      @include btn-secondary();
      border-radius: 4px;
      border: 2px solid lightgray;
    }
  }
  .drawer > div:first-child {
    * {
      text-transform: none;
      align-items: center;
      margin-bottom: 0;
    }

    input + span {
      font-size: 0.9rem;
    }

    h1 {
      color: black;
      font-size: 1.7rem;
      font-family: "rawline", serif;
      font-weight: 600;
    }
    > div:first-child {
      font-family: "Open Sans SemiBold", sans-serif;
    }
  }
  .drawer {
    position: relative;
    .labelContainer {
      background-color: #7e99b6;
      position: absolute;
      margin: auto 0;
      height: 100%;
      left: 0;
      display: flex;
      align-items: center;
      padding: 20px;
      h1 {
        position: relative;
      }
      button.toggle {
        background: none;
        border: none;
        padding: 0;
        z-index: 0;
        position: relative;
        right: -10px;

        i {
          font-size: 3rem;
          position: relative;
          vertical-align: middle;
          line-height: 0;
        }
        &.flip {
          transform: rotate(180deg);
        }
      }
    }
    .dates {
      font-family: "rawline", serif;
      margin-right: 20px;
      .primary {
        font-size: 1rem;
        font-weight: bold;
      }
      .secondary {
        font-weight: normal;
        font-style: italic;
        font-size: 0.7rem;
      }
    }
  }
  .drawer > div:last-child {
    > div {
      display: flex;
      flex-flow: row;
      @include spaceItemsHoriz(50px);
    }
    border-bottom: 1px solid #b3b3b3;
  }
}
@import "./plugins.module.scss";
