.caret {
    margin-left: 20px;
    transform: rotate(90deg) scaleX(1) scaleY(1.5);
    transition: 0.25s transform ease !important;
    font-size: 1rem;
    justify-self: flex-end;
    &.up {
        transform: rotate(90deg) scaleX(-1) scaleY(1.5);
    }
}
