@import "../../../assets/styles/vars.scss";
@media #{$phone} {
  .tabs {
    button {
      width: 100%;
      &,
      &.active {
        border-color: #bde7ff;
      }
    }
  }
  .content {
    img {
      max-width: 100%;
    }
  }
}
