@import "src/assets/styles/vars.module.scss";
.search {
  // format search bar similar to filter dropdowns
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  @include dropdownAndSearchStyling();

  input {
    border: none;
    // prevent outline on focus
    outline: none;
    &::placeholder {
      color: $idea-gray-2;
      font-size: 1rem;
    }
  }

  // close and search icons
  .icons {
    display: flex;
    align-items: center;

    // icon for magnifying glass
    i {
      color: $idea-black;
      font-size: 1.33rem;
      width: 18px;
    }
  }
}
