@import "src/assets/styles/vars.module.scss";
.search {
  // format search bar similar to filter dropdowns
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  @include dropdownAndSearchStyling();

  input {
    border: none;
    &::placeholder {
      color: $idea-gray-2;
      font-size: 1rem;
    }

    // prevent outline on focus
    outline: none;
  }
  // icon for magnifying glass
  i {
    color: $idea-black;
    font-size: 1.33rem;
    width: 18px;
  }
}
