.relatedPolicies {
  margin-top: 3rem;
  margin-bottom: 3rem;

  > h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .others {
    display: flex;
    // justify-content: space-between;
  }
}
