@import "../../assets/styles/vars.scss";

.infoTooltipContainer {
  max-width: 400px;
  font-size: 16.5px;
  opacity: 1 !important;
  display: flex;
  flex-flow: column;

  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);

  > span {
    flex-flow: column !important;
    > span {
      flex-flow: column !important;

      > span {
        margin-top: 30px;

        > div {
          margin: 0 auto;
        }
      }
    }
  }
}
.infoTooltip {
  display: inline-flex;
  margin: 0 5px;
  top: 2px;
  position: relative;

  img {
    $size: 15px;
    height: $size;
    width: $size;
    top: -2px;
    position: relative;
    cursor: default;
  }
}
