@import "src/assets/styles/vars.module.scss";
.selectedFilters {
    padding: 10px;
    padding-bottom: 0;
    background-color: white;
    border: 1px solid #999;
    margin-top: 1.75rem;
    @include spaceItemsVert(20px);
    .header {
        display: flex;
        align-items: center;
        .filterIcon {
            @include btn-primary();
            margin-right: 10px;
            padding: 3px;
            pointer-events: none;
            div {
                background-repeat: no-repeat;
                background-position: center;
                height: 15px;
                width: 16px;
                background-size: contain;
            }
        }
    }
    .badges {
        display: flex;
        flex-flow: wrap;
        margin-bottom: 10px;

        .badge {
            font-family: "Open Sans", sans-serif;
            font-size: 1rem;
            color: #333;

            background-color: $map-green-6;

            display: flex;
            align-items: center;

            border-radius: 8px;
            padding: 5px 10px;
            margin-bottom: 0.5em;
            margin-right: 0.5em;

            .value {
                font-weight: 700;
            }
            .close {
                margin-left: 1em;
                > button {
                    display: flex;

                    cursor: pointer;

                    border: none;

                    background: none;
                    background-color: none;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;

                    $size: 0.75rem;
                    height: $size;
                    width: $size;
                }
            }
        }
    }
}
