.popupMetrics {
  .label {
    color: black;
    font-weight: 600;
  }
  .value {
    color: black;
  }
  .infoIcon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    position: relative;
    top: -0.125em;
    z-index: 10;
  }

  width: 100%;

  .metric {
    width: 100%;
  }

  td {
    width: 75%;
  }
  td:first-child {
    width: 25%;
  }
  td:nth-child(2) {
    padding-left: 50px;
  }
  $row-padding: 10px;
  tr:not(:last-child) td {
    border-bottom: 2px solid #c9c9c8;
    padding-bottom: $row-padding;
  }
  tr:not(:first-child) td {
    padding-top: $row-padding;
  }
}
