@import "src/assets/styles/vars.scss";
.optionDrawer {
    .title,
    .body {
        padding: 10px;
    }
    .title {
        border: 1px solid $light-gray-4;
        border-width: 1px 0;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: $idea-gray-2;
        text-transform: uppercase;
        cursor: pointer;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        white-space: nowrap;
    }
    .body {
        max-height: 250px;
        overflow-y: scroll;
    }
    &:first-child .title {
        border-top-width: 0;
    }

    &.closed {
        .body {
            display: none;
        }
        &:not(:last-child) {
            margin-bottom: 0;
            .title {
                border-bottom-width: 0;
            }
        }
    }
}
