.introSection {
  h3 {
    font-family: Rawline;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #303434;
  }
}

.policyEnvironment {
  width: 100%;
  margin-bottom: 2rem;
}

.barChartAndParagraph {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 30px;
}
