@import "../../../assets/styles/vars.scss";
.badge {
  padding: 5px;
  font-size: 1rem;
}
.distancingLevelTable {
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    td {
      vertical-align: middle;
      padding-bottom: 10px;
      &:not(:first-child) {
        padding-top: 10px;
      }
    }
  }
  td:first-child {
    width: min-content;
  }
  td:nth-child(2) {
    width: 20%;
    text-align: center;
    > div {
      height: 30px;
    }
  }
  .rect {
    padding: 5px 10px;
    white-space: nowrap;
    text-align: center;
  }
}
.definitionHeader {
  display: block;
  a {
    font-style: italic;
    font-size: 0.8rem;
    @include spaceItemsHoriz(0.5rem);
    font-weight: normal;
    color: #519688;
  }
  img {
    $size: 15px;
    height: $size;
    margin-bottom: 2px;
    margin-right: 0.25rem;
  }
}
