@import "src/assets/styles/vars.module.scss";
.optionRadioSet {
    width: auto;
}
.optionWidget {
    .title,
    .titleAndTooltip {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875em;
        margin-bottom: 0.5em;
        color: $idea-gray-2;
        text-transform: uppercase;
    }
    &:not(:last-of-type) {
        margin-bottom: 0.5em;
    }
    &.optionRadio {
        > span {
            display: flex;
            align-items: baseline;
            > input,
            label {
                cursor: pointer;
            }

            > input {
                margin-right: 0.5em;
            }

            > label {
                margin: 0;
                font-weight: normal;
                color: $idea-black;
            }
            input:checked + label > span {
                font-weight: 600;
            }
        }
    }
    &.optionSelect {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto;
        align-items: center;
        select {
            grid-column: 1/-1;
            background: $idea-gray-4;
            padding: 0.25em;
            border-radius: 2px;
            font-weight: 600;
            @include selectStyling();
        }
    }
}
