.state:first-of-type {
  header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

.state {
  color: #00447c;
  // padding: 1rem;
  padding-top: 0;
  padding-bottom: 1;
  margin-top: 1rem;

  header {
    position: relative;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #bde7ff;

    &:after {
      content: "";
      position: absolute;
      height: 3px;
      left: 1rem;
      right: 1rem;
      bottom: 0;
      background-color: #bde7ff;
    }
    .stateHeader {
      border-top: 4px solid #16467a;
      font-family: "Rawline";
      width: 100%;
      // height: 12rem;
      display: grid;
      margin-top: 22px;

      .stateName {
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 2.8rem;
        font-weight: 800;
        justify-content: flex-start;
      }

      .explanation {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .checkbox label {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
          transform: scale(1.4);
        }
      }

      .cases {
        text-align: right;
        font-size: 1.4rem;
        font-weight: 500;
      }

      .casesLabel {
        .label {
          font-weight: 600;
        }

        .population,
        .date {
          font-size: 0.9rem;
        }
      }
    }

    // .stateName {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   padding: 2rem;

    //   h1 {
    //     color: #00447c;
    //     font-size: 1.8rem;
    //     padding: 0.3em 0.5em 0.3em 0.5em;
    //     border-radius: 0.25em;
    //     border: 1px solid rgb(118, 118, 118);
    //     font-weight: 700;
    //     margin: 0;
    //     margin-bottom: 2rem;
    //   }

    //   h2 {
    //     color: #60605d;
    //     font-weight: 600;
    //     font-size: 1rem;
    //   }
    // }
    // .stateName {
    //   display: flex;
    //   // flex-direction: column;
    //   align-items: flex-end;

    //   padding: 2rem;
    //   // padding-top: 1rem;

    //   label {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     color: #60605d;
    //     font-weight: 600;
    //   }

    //   select {
    //     margin-top: 0.25em;
    //     font-family: "Rawline";
    //     color: #00447c;
    //     font-size: 1.6rem;
    //     // padding: 0.4em 0.5em 0.25em 0.5em;
    //     padding: 0.125em 0.25em;
    //     border: 1px solid rgb(118, 118, 118);
    //     border-radius: 0.25em;
    //     font-weight: 700;
    //   }
    // }
  }

  .policyPlot {
    position: relative;
    margin: 0.5rem 0;
    margin-top: 0;
    background-color: white;

    .blur {
      filter: blur(3px);
    }

    .fader {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // background-color: #97b8cc55;
      // backdrop-filter: blur(3px);
      z-index: 10;
    }

    .spinner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;

      img {
        width: 256px;
        height: 256px;
      }
    }
  }
}
