.iconHolder {
  transform: scale(0.35);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    margin-right: 0;
  }
}

.barPath {
  transition: 200ms ease;
}

.tooltip {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 0;

  h4 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.25em;
  }

  h5 {
    color: #e55e37;
    margin-top: 0;
    margin-top: 3px;
    margin-left: 2.2rem;
  }

  .colorBlock {
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    margin-left: 0.6em;
    margin-right: 0.8em;
    position: relative;
    top: 2px;
  }
}
