@import "../../../assets/styles/colors.scss";

.table {
  > [role="subheader"] {
    font-size: 26px; // TODO unify
    > span {
      @include horiz();
    }
  }
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: $cyan;
  }

  // table sorting icons
  img.sortable {
    margin-left: 5px;
    $size: 20px;
    height: $size;
    width: $size;
  }
  th {
    text-align: left;
    font-family: "Open Sans", serif;
    background-color: $light-gray;
  }
  // clear borders
  table {
    border: 2px solid $gray !important;
    td,
    th {
      border: none !important;
      &:not(:last-child) {
        border-right: 1px solid $gray-2 !important;
      }
    }
    tr {
      &:not(:last-child) {
        border-bottom: 1px solid $gray-2 !important;
      }
    }
    &,
    tbody tr td,
    thead tr th {
      vertical-align: middle;
      > span {
        display: flex;
        align-items: center;
        .caret {
          margin-left: auto;
          font-size: 34px;
          transform: rotate(180deg);
          transition: transform 0.5s;
        }
      }
    }
    &.expandable {
      td:not([class="reset-expansion-style"]) {
        cursor: pointer;
      }
    }
    tr.expandedParent {
      .caret {
        transform: unset;
        transition: transform 0.5s;
      }
    }
  }
  .unspecified {
    font-style: italic;
    color: $gray;
  }

  // Bootstrap tables
  [class="row react-bootstrap-table-pagination"] {
    display: flex;
    align-items: center;
  }
  [class^="react-bootstrap-table-pagination-list"] {
    ul {
      float: right;
    }
  }
  label[for="search-bar-0"] {
    float: right;
    font-weight: normal;
    &::placeholder {
    }
  }
}
