.infoIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: -0.125em;
}

.state {
  color: #00447c;
  // padding: 1rem;
  padding-top: 0;
  padding-bottom: 1;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;

  .documentationLink {
    color: #344269;
    margin-left: auto;
    margin-bottom: 0.5rem;

    svg {
      width: 1em;
      margin-right: 0.5em;
      position: relative;
      top: 0.125em;

      path {
        fill: #344269;
      }
    }
  }

  header {
    position: relative;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #bde7ff;

    &:after {
      content: "";
      position: absolute;
      height: 3px;
      left: 2rem;
      right: 2rem;
      bottom: 0;
      background-color: #bde7ff;
    }

    .stateHeader {
      border-top: 4px solid #16467a;
      width: 100%;
      // height: 12rem;
      display: grid;
      font-family: "Rawline";
      margin-bottom: 1rem;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 4rem 1fr 1fr;
      // grid-template-rows: 4rem 1fr 1fr 1fr 1fr;

      @media (min-width: 1250px) {
        grid-template-columns: 23rem min-content 15rem min-content 16rem;
        // grid-template-rows: 4rem 1fr 1fr;
        grid-template-rows: 4rem 1fr;
      }

      @media (min-width: 1500px) {
        grid-template-columns: auto 23rem min-content 15rem min-content 16rem;
        // grid-template-rows: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 1.5rem;
      }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem 1rem;
      }

      > div:nth-of-type(1) {
        padding-left: 0;
      }

      > div:nth-of-type(2),
      > div:nth-of-type(3),
      > div:nth-of-type(4),
      > div:nth-of-type(5),
      > div:nth-of-type(6) {
        // border-bottom: 2px solid #16467a;
        @media (min-width: 1250px) {
          grid-row-start: 2;
          grid-row-end: 3;
        }
        @media (min-width: 1500px) {
          grid-row-start: 1;
          grid-row-end: 2;
        }
      }

      > div:nth-of-type(7),
      > div:nth-of-type(8),
      > div:nth-of-type(9),
      > div:nth-of-type(10),
      > div:nth-of-type(11),
      > div:nth-of-type(12),
      > div:nth-of-type(13) {
        border-top: 2px solid #0b6354;
        border-bottom: 2px solid #0b6354;
        color: #0b6354;
        @media (min-width: 1250px) {
          grid-row-start: 3;
          grid-row-end: 4;
        }
        @media (min-width: 1500px) {
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }

      > div:nth-of-type(7) {
        border-left: 2px solid #0b6354;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      > div:nth-of-type(11) {
        border-right: 2px solid #0b6354;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      @media (max-width: 1250px) {
        > div:nth-of-type(2) {
          grid-row: 2 / span 2;
          grid-column: 1 / 2;
        }

        > div:nth-of-type(3) {
          grid-row: 2 / span 1;
          grid-column: 2 / 3;
        }

        > div:nth-of-type(4) {
          grid-row: 3 / span 1;
          grid-column: 2 / 3;
        }

        > div:nth-of-type(5) {
          grid-row: 2 / span 1;
          grid-column: 3 / 4;
        }

        > div:nth-of-type(6) {
          grid-row: 3 / span 1;
          grid-column: 3 / 4;
        }

        > div:nth-of-type(7) {
          grid-row: 4 / span 2;
          grid-column: 1 / 2;
        }

        > div:nth-of-type(8) {
          grid-row: 4 / span 1;
          grid-column: 2 / 3;
          border-bottom: none;
        }

        > div:nth-of-type(9) {
          grid-row: 5 / span 1;
          grid-column: 2 / 3;
          border-top: none;
        }

        > div:nth-of-type(10) {
          grid-row: 4 / span 1;
          grid-column: 3 / 4;
          border-bottom: none;
          border-top-right-radius: 0.5rem;
          border-right: 2px solid #0b6354;
        }

        > div:nth-of-type(11) {
          grid-row: 5 / span 1;
          grid-column: 3 / 4;
          border-top: none;
          border-top-right-radius: 0;
        }
      }

      .stateName {
        font-size: 2.8rem;
        font-weight: 800;
        justify-content: flex-start;

        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 7;

        @media (min-width: 1500px) {
          grid-row-start: 1;
          grid-row-end: 4;
          grid-column-start: 1;
          grid-column-end: 2;
        }
      }

      .explanation {
        font-size: 1.2rem;
        font-weight: 600;

        label {
          margin-top: 0.5rem;
          font-size: 1rem;
          display: flex;
          flex-direction: row;
          align-items: baseline;

          input {
            transform: scale(1.2);
            margin-right: 0.5rem;
          }
        }
      }

      .cases {
        text-align: right;
        font-size: 1.8rem;
        font-weight: 500;

        justify-content: flex-end;
        @media (min-width: 1250px) {
          justify-content: center;
        }

        @media (max-width: 1250px) {
          text-align: left;
        }
      }

      .casesLabel {
        justify-content: flex-start;
        @media (min-width: 1250px) {
          padding-left: 0rem;
          justify-content: center;
        }

        .label {
          font-weight: 600;
        }

        .population,
        .date {
          font-size: 0.9rem;
        }

        .date {
          font-style: italic;
        }
      }
    }

    // .stateName {
    //   display: flex;
    //   // flex-direction: column;
    //   align-items: flex-end;

    //   padding: 2rem;
    //   // padding-top: 1rem;

    //   label {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     color: #60605d;
    //     font-weight: 600;
    //   }

    //   select {
    //     margin-top: 0.25em;
    //     font-family: "Rawline";
    //     color: #00447c;
    //     font-size: 1.6rem;
    //     // padding: 0.4em 0.5em 0.25em 0.5em;
    //     padding: 0.125em 0.25em;
    //     border: 1px solid rgb(118, 118, 118);
    //     border-radius: 0.25em;
    //     font-weight: 700;
    //   }

    //   .resetState {
    //     background: none;
    //     border: none;
    //     color: #60605d;
    //     // background-color: #697681;
    //     border: 1px solid #3b4d5c;
    //     border-radius: 0.25em;
    //     padding: 0.58em 1em;
    //     margin-top: 0.5em;
    //     margin-left: 1rem;

    //     &:disabled {
    //       opacity: 0.5;
    //     }
    //   }

    //   .removeState {
    //     position: absolute;
    //     top: 1rem;
    //     right: 1rem;
    //     background: none;
    //     border: none;
    //     width: 2rem;
    //     height: 2rem;
    //   }

    // .removeState {
    //   background-color: #815252;
    //   border: 1px solid #6a4344;
    // }

    // .resetState {
    //   background-color: #816952;
    //   border: 1px solid #6a5743;
    // }

    // h1,
    // h2 {
    //   margin: 0;
    //   text-transform: uppercase;
    // }

    // h1 {
    //   color: inherit;
    //   // letter-spacing: -0.0125em;
    // }

    // h2 {
    //   font-size: 1.2rem;
    //   color: #4682b4;
    //   font-weight: 600;
    //   line-height: 0.9em;
    // }
    // }

    // .overviewStats {
    //   display: flex;
    //   flex-direction: column;

    //   .noAction,
    //   .existing {
    //     display: flex;
    //     align-items: center;
    //     border-bottom: 2px solid #bde7ff;

    //     h3 {
    //       margin-right: auto;
    //       width: 13rem;
    //       line-height: 1.1em;
    //       font-size: 1.6rem;
    //       margin-top: 1rem;
    //       margin-bottom: 0.25rem;
    //     }

    //     > div {
    //       position: relative;
    //       margin: 1rem;
    //       width: 12rem;
    //       display: flex;
    //       justify-content: center;
    //       flex-direction: column;
    //     }

    //     > div:first-of-type {
    //       width: 14rem;
    //     }

    //     > div:first-of-type:after {
    //       content: "";
    //       position: absolute;
    //       top: 1em;
    //       bottom: 0rem;
    //       right: -1.25rem;
    //       width: 1px;
    //       background-color: #aaa;
    //     }

    //     label {
    //       width: 13rem;
    //       display: flex;
    //       align-items: baseline;
    //       font-weight: 600;

    //       input {
    //         margin-right: 0.5rem;
    //       }
    //     }

    //     h4,
    //     h5 {
    //       margin: 0;
    //       // display: flex;
    //       // justify-content: space-between;
    //     }

    //     h4 {
    //       font-size: 2rem;
    //       font-weight: 600;
    //       line-height: 1em;
    //       margin-top: 1rem;
    //     }

    //     h5 {
    //       font-weight: 500;
    //     }
    //   }

    //   .noAction {
    //     // color: #999999;
    //     border-bottom: none;

    //     > div {
    //       // flex-direction: row;
    //       // align-items: center;
    //       justify-content: flex-start;

    //       h4 {
    //         margin: 0;
    //         font-size: 1.6rem;
    //       }

    //       h5 {
    //         font-size: 0.8rem;
    //         width: 100%;
    //         line-height: 1em;
    //         margin-left: 0.25em;
    //         // display: flex;
    //         // justify-content: space-between;
    //       }
    //     }
    //     > div:first-of-type:after {
    //       top: 0.33em;
    //     }
    //   }
    // }
  }

  .policyPlot {
    // position: relative;
    margin: 0.5rem 0;
    margin-top: 0;
    background-color: white;
    // height: 90vh;

    .inputRow {
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;
      padding-right: 0.5rem;

      button,
      select {
        margin-right: 1rem;
        font-size: 1.2rem;
        padding: 0.25em 0.5em;
      }
    }

    // h1 {
    //   color: #00447c;
    // }
  }
}

.ipopup {
  font-weight: 400;
  font-style: italic;
}

.bottomRow {
  display: flex;
  align-items: baseline;

  // select {
  //   margin-left: auto;
  //   margin-right: 0.5rem;
  //   color: #333;
  // }

  button {
    margin-left: auto;
    background: none;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #999;
    color: #333;
    padding: 0.5em 0.75em;
  }

  .source {
    font-style: italic;
    margin-left: auto;
  }
}

.miniLegend {
  // width: 14rem;
  padding: 0.25rem;
  display: flex;

  .noPolicies,
  .lockdown,
  .safer,
  .stay,
  .normal,
  .proposed,
  .actuals,
  .modeled,
  .daily {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 0.25rem 0;
    box-sizing: border-box;
    margin-right: 2rem;
    color: #333;

    span {
      width: 1.5em;
      height: 1.5em;
      border-radius: 1em;
      margin-right: 0.5em;
    }
  }
  .lockdown {
    span {
      background-color: #661b3c;
    }
  }
  .safer {
    span {
      background-color: #c1272d;
    }
  }
  .stay {
    span {
      background-color: #d66b3e;
    }
  }
  .normal {
    span {
      background-color: #ecbd62;
    }
  }
  .proposed {
    span {
      border: 3px solid #661b3c;
    }
  }
  .actuals {
    span {
      height: 4px;
      background-color: #183344;
    }
  }
  .modeled {
    span {
      height: 0;
      border: 2px solid #183344;
      border-style: dashed;
    }
  }
  .noPolicies {
    span {
      background-color: #a4d3c3;
      border: 1px solid #8ab8ae;
      border-radius: 3px;
    }
  }
  .daily {
    span {
      position: relative;
      margin-left: 7px;
      margin-right: 14px;
      height: 15px;
      transform: scaleY(-1);
      border-radius: 0;

      &,
      &:before,
      &:after {
        width: 5px;
        background-color: #183344;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
      }

      &:before {
        left: -7px;
        height: 7px;
      }

      &:after {
        right: -7px;
        height: 18px;
      }
    }
  }
}
