.infoIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: -0.125em;
}

.state {
  color: #00447c;
  // padding: 1rem;
  padding-top: 0;
  padding-bottom: 1;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;

  .documentationLink {
    color: #344269;
    margin-left: auto;
    margin-bottom: 0.5rem;

    svg {
      width: 1em;
      margin-right: 0.5em;
      position: relative;
      top: 0.125em;

      path {
        fill: #344269;
      }
    }
  }

  header {
    position: relative;
    background-color: #bde7ff;

    &:after {
      content: "";
      position: absolute;
      height: 3px;
      left: 2rem;
      right: 2rem;
      bottom: 0;
      background-color: #bde7ff;
    }

    .stateHeader {
      border-top: 4px solid #16467a;
      width: 100%;
      // height: 12rem;
      display: flex;
      flex-direction: row;
      font-family: "Rawline";
      margin-bottom: 1rem;

      @media screen and (max-width: 1350px){
        flex-direction: column;
      }

      .stateName {
        font-size: 2.8rem;
        font-weight: 800;
        justify-content: flex-start;
        padding-right: 50px;
      }

      .rows {
        .disabled {
          position: absolute;
          left: 0;
          top: 0;
          background-color: hsla(0, 0, 100, 0.6);
          width: 100%;
          height: 100%;
          z-index: 5;
          pointer-events: none;
        }
        .disabledControl {
          input,
          label {
            pointer-events: none;
          }
        }
        .headerRow {
          padding: 10px;
          padding-left: 20px;
          display: grid;
          grid-template-columns: 1fr .7fr 1.3fr .6fr 1.3fr;
          grid-gap: 15px;
          border: 2px solid transparent;
          border-radius: 0.5rem;
          @media screen and (max-width: 1050px){
            display: grid;
            grid-template-columns: 160px auto;
            grid-template-rows: repeat(3, auto);
            padding-bottom: 20px;
          }
          &.counterfactualRow {
            color: #0b6354;
            border: 2px solid #0b6354;
            border-radius: 0.5rem;
            position: relative;
            .disabled {
              border: 2px solid hsla(0, 0, 100, 0.6);
              border-radius: 0.5rem;
              //fix positioning, taking into account borders
              top:-2px;
              left:-2px;
              width: calc(100% + 4px);
              height: calc(100% + 4px);
            }
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
        .coveringRow {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin: 20px 0px 3px 0px;
          position: relative;
          .disabled {
            border: 2px solid hsla(0, 0, 100, 0.6);
            border-radius: 0.75rem;
          }
        }
        .coveringContainer {
          font-size: 1.5rem;
          font-weight: 500;
          color: white;
          cursor: pointer;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          background-color: #50ADBC;
          transition: all 1s ease;
          width: 240px;
          height: 45px;       
          padding: 10px;
          display: flex;
          border: 2px solid #50ADBC;
          border-radius: 0.75rem;
          .coveringTitle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
          }
          .maskIcon {
            width: 35px;
            margin-right: 10px;
          }
          .title {
            padding-bottom: 4px;
          }
          &.expanded {
            background-color: white;
            color: #50ADBC;
            cursor: unset;
            width: 100%;
            height: 100%;
            padding-left: 20px;
            justify-content: space-between;
            .coveringTitle {
              margin-top: -10px;
              margin-left: -5px;
            }
            .complianceContainer {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              height: 100%;
              font-family: 'Open Sans';
              .complianceLabel {
                font-size: 1.1rem;
                font-weight: 600;
                margin-right: 20px;
              }
              .radioButtons {
                display: flex;
                flex-direction: column;
                margin-right: 10px;
                .radioButton {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  color: black;
                  label {
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }
      }

      .explanation {
        font-size: 1.2rem;
        font-weight: 600;
        @media screen and (max-width: 1050px){
          grid-column-start: 1;
          grid-column-end: 3;
          br {
            display: none;
          }
        }
      }

      label {
        margin-top: 0.5rem;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;

        input {
          transform: scale(1.2);
          margin-right: 0.5rem;
        }
      }
      .maskControl {
        label {
          margin-top: 0;
        }
      }

      .cases {
        text-align: right;
        font-size: 1.8rem;
        font-weight: 500;
        @media screen and (max-width: 1050px){
          grid-column-start: 1;
          grid-column-end: 2;
        }
        justify-content: flex-end;
      }

      .casesLabel {
        justify-content: flex-start;
        @media screen and (max-width: 1050px){
          grid-column-start: 2;
          grid-column-end: 3;
        }

        .label {
          font-weight: 600;
        }

        .population,
        .date {
          font-size: 0.9rem;
        }

        .date {
          font-style: italic;
        }
      }
    }

    // .stateName {
    //   display: flex;
    //   // flex-direction: column;
    //   align-items: flex-end;

    //   padding: 2rem;
    //   // padding-top: 1rem;

    //   label {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     color: #60605d;
    //     font-weight: 600;
    //   }

    //   select {
    //     margin-top: 0.25em;
    //     font-family: "Rawline";
    //     color: #00447c;
    //     font-size: 1.6rem;
    //     // padding: 0.4em 0.5em 0.25em 0.5em;
    //     padding: 0.125em 0.25em;
    //     border: 1px solid rgb(118, 118, 118);
    //     border-radius: 0.25em;
    //     font-weight: 700;
    //   }

    //   .resetState {
    //     background: none;
    //     border: none;
    //     color: #60605d;
    //     // background-color: #697681;
    //     border: 1px solid #3b4d5c;
    //     border-radius: 0.25em;
    //     padding: 0.58em 1em;
    //     margin-top: 0.5em;
    //     margin-left: 1rem;

    //     &:disabled {
    //       opacity: 0.5;
    //     }
    //   }

    //   .removeState {
    //     position: absolute;
    //     top: 1rem;
    //     right: 1rem;
    //     background: none;
    //     border: none;
    //     width: 2rem;
    //     height: 2rem;
    //   }

    // .removeState {
    //   background-color: #815252;
    //   border: 1px solid #6a4344;
    // }

    // .resetState {
    //   background-color: #816952;
    //   border: 1px solid #6a5743;
    // }

    // h1,
    // h2 {
    //   margin: 0;
    //   text-transform: uppercase;
    // }

    // h1 {
    //   color: inherit;
    //   // letter-spacing: -0.0125em;
    // }

    // h2 {
    //   font-size: 1.2rem;
    //   color: #4682b4;
    //   font-weight: 600;
    //   line-height: 0.9em;
    // }
    // }

    // .overviewStats {
    //   display: flex;
    //   flex-direction: column;

    //   .noAction,
    //   .existing {
    //     display: flex;
    //     align-items: center;
    //     border-bottom: 2px solid #bde7ff;

    //     h3 {
    //       margin-right: auto;
    //       width: 13rem;
    //       line-height: 1.1em;
    //       font-size: 1.6rem;
    //       margin-top: 1rem;
    //       margin-bottom: 0.25rem;
    //     }

    //     > div {
    //       position: relative;
    //       margin: 1rem;
    //       width: 12rem;
    //       display: flex;
    //       justify-content: center;
    //       flex-direction: column;
    //     }

    //     > div:first-of-type {
    //       width: 14rem;
    //     }

    //     > div:first-of-type:after {
    //       content: "";
    //       position: absolute;
    //       top: 1em;
    //       bottom: 0rem;
    //       right: -1.25rem;
    //       width: 1px;
    //       background-color: #aaa;
    //     }

    //     label {
    //       width: 13rem;
    //       display: flex;
    //       align-items: baseline;
    //       font-weight: 600;

    //       input {
    //         margin-right: 0.5rem;
    //       }
    //     }

    //     h4,
    //     h5 {
    //       margin: 0;
    //       // display: flex;
    //       // justify-content: space-between;
    //     }

    //     h4 {
    //       font-size: 2rem;
    //       font-weight: 600;
    //       line-height: 1em;
    //       margin-top: 1rem;
    //     }

    //     h5 {
    //       font-weight: 500;
    //     }
    //   }

    //   .noAction {
    //     // color: #999999;
    //     border-bottom: none;

    //     > div {
    //       // flex-direction: row;
    //       // align-items: center;
    //       justify-content: flex-start;

    //       h4 {
    //         margin: 0;
    //         font-size: 1.6rem;
    //       }

    //       h5 {
    //         font-size: 0.8rem;
    //         width: 100%;
    //         line-height: 1em;
    //         margin-left: 0.25em;
    //         // display: flex;
    //         // justify-content: space-between;
    //       }
    //     }
    //     > div:first-of-type:after {
    //       top: 0.33em;
    //     }
    //   }
    // }
  }

  .policyPlot {
    // position: relative;
    margin: 0.5rem 0;
    margin-top: 0;
    background-color: white;
    // height: 90vh;

    .inputRow {
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;
      padding-right: 0.5rem;

      button,
      select {
        margin-right: 1rem;
        font-size: 1.2rem;
        padding: 0.25em 0.5em;
      }
    }

    // h1 {
    //   color: #00447c;
    // }
  }
}

.ipopup {
  font-weight: 400;
  font-style: italic;
}

.bottomRow {
  display: flex;

  button {
    background: none;
    border: none;
    background-color: #fff;
    border-radius: 0.5em;
    border: 1px solid #999;
    color: #333;
    padding: 0.5em 0.75em;
    margin-left: auto;
  }
}

.miniLegend {
  // width: 14rem;
  padding: 0.25rem;
  display: flex;

  .noPolicies,
  .lockdown,
  .safer,
  .stay,
  .normal,
  .proposed,
  .actuals,
  .modeled {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 0.25rem 0;
    box-sizing: border-box;
    margin-right: 2rem;
    color: #333;

    span {
      width: 1.5em;
      height: 1.5em;
      border-radius: 1em;
      margin-right: 0.5em;
    }
  }
  .lockdown {
    span {
      background-color: #661b3c;
    }
  }
  .safer {
    span {
      background-color: #c1272d;
    }
  }
  .stay {
    span {
      background-color: #d66b3e;
    }
  }
  .normal {
    span {
      background-color: #ecbd62;
    }
  }
  .proposed {
    span {
      border: 3px solid #661b3c;
    }
  }
  .actuals {
    span {
      height: 0;
      border: 2px solid #183344;
    }
  }
  .modeled {
    span {
      height: 0;
      border: 2px solid #183344;
      border-style: dashed;
    }
  }
  .noPolicies {
    span {
      background-color: #a4d3c3;
      border: 1px solid #8ab8ae;
      border-radius: 3px;
    }
  }
}
