.button {
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  padding: 0.5em 1em;
  background: linear-gradient(180deg, rgba(2, 63, 136, 0.85) 0%, #023f88 100%);
  border: 2px solid #023f88;
}
