@import "../../../assets/styles/vars.module.scss";

// Credit: https://stackoverflow.com/questions/43662552/getting-columns-to-wrap-in-css-grid
.filterSet {
  display: flex;
  flex-flow: wrap;
  &.vertical {
    > .filterGroup {
      @include spaceItemsVert(10px);
      flex-flow: column;
    }
  }
  &:not(.vertical) {
    @include spaceItemsHoriz(5rem);
    .filterGroup {
      @include spaceItemsHoriz(50px);
    }
  }
  .filterGroup {
    display: flex;

    &.dropdowns {
      &:not(:first-child) {
        margin-top: 20px;
      }

      > div {
        min-width: 250px;
        margin: 0 !important;
      }
    }
  }
  &.disabled {
    display: none;
  }
}

@media #{$small-laptop} {
  .filterSet {
    margin: 0;

    @include borderItemsVert(20px);

    .filterGroup {
      width: 100%;
      flex-flow: column;
      margin: 0;
      @include spaceItemsVert(20px);
      > div {
        width: 100%;
      }
    }
  }
}
