@import "../../../assets/styles/vars.module.scss";

// Credit: https://stackoverflow.com/questions/43662552/getting-columns-to-wrap-in-css-grid
.filterSet {
  display: flex;
  flex-flow: wrap;
  &.vertical {
    @include spaceItemsHoriz(2.5rem);

    > .filterGroup {
      flex-flow: column;
      &.dropdowns {
        @include spaceItemsVert(1rem);
      }
    }
  }
  &:not(.vertical) {
    @include spaceItemsHoriz(5rem);
    .filterGroup {
      @include spaceItemsHoriz(50px);
    }
    &.dropdowns {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
  .filterGroup {
    display: flex;

    &.dropdowns {
      > div {
        min-width: 250px;
      }
    }
  }
  &.disabled {
    display: none;
  }
}

@media #{$small-laptop} {
  .filterSet {
    margin: 0;
    > :not(:last-child),
    &.vertical > :not(:last-child) {
      margin-right: 0;
    }

    @include borderItemsVert(20px);

    .filterGroup {
      width: 100%;
      flex-flow: column;

      margin-bottom: 20px;
      @include spaceItemsVert(20px);
      > div {
        width: 100%;
      }
    }
  }
}
