.policyDateSection {
  .policyDateSectionHeader {
    width: 100%;
    display: flex;
    align-items: center;

    h1 {
      text-transform: unset;
      margin-right: 1rem;
      margin-left: 2.5rem;
      text-align: left;
      min-width: 11.5rem;
      font-size: 1.5rem;
      color: #29334b;
      font-family: "rawline";
      font-weight: 600;
    }

    h2 {
      text-align: left;
      font-size: 1.5rem;
      color: #586477;
      font-family: "rawline";
      font-weight: 500;
    }

    a {
      margin-left: auto;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      background-color: #b51a34;
      color: white;
      text-transform: uppercase;
      border-radius: 0.5rem;
      // align-self: center;
    }
  }
  .policySections {
    background-color: #e4f6fb;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 2rem;
      right: 2rem;
      background-color: #173244;
      height: 4px;
      border-radius: 4px;
    }
  }
}
