@import "../../../assets/styles/vars.module.scss";
.data {
  @include spaceItemsVert(40px);
  .header {
    max-width: 70rem;
    h1 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
  .columnText {
    max-width: 60rem;
    display: flex;
    flex-flow: row;
    font-family: "Rawline", serif;
    * {
      line-height: 1.5;
    }
    p {
      font-size: 1.25rem;
      color: #333;
    }
    @include spaceItemsHoriz(40px);
  }
  .unspecified {
    font-style: italic;
    color: $gray;
  }

  // filter header with instructions, clear filters button, search bar
  .filtersHeader {
    display: flex;
    align-items: center;
    margin-top: unset !important;
  }

  // table styles
  .linkIcons {
    display: flex;
    flex-flow: row wrap;
    .linkIcon {
      position: relative;
      top: 5px;
      z-index: 0;
    }
    // manually set widths of certain table cols
  }
  table {
    &.policy {
      th,
      td {
        // set width of link column
        &:last-child {
          width: 88px;
        }
        // set width of Description column
        &:nth-child(3) {
          width: 35%;
        }
      }
    }
    &.plan {
      th,
      td {
        // set width of link column
        &:last-child {
          width: 88px;
        }
        // set width of Description column
        &:nth-child(4) {
          width: 35%;
        }
      }
    }
    &.court_challenge {
      th,
      td {
        &:nth-child(1) {
          width: 110px;
        }
        &:nth-child(2) {
          width: 110px;
        }
        &:nth-child(3) {
          width: 300px;
        }
        &:nth-child(4) {
          width: 150px;
        }
        &:nth-child(5) {
          width: 90px;
        }
        &:nth-child(6) {
          width: 110px;
        }
        &:nth-child(7) {
          width: 100px;
        }

        i {
          position: relative;
          top: 7px;
        }
      }
    }
  }

  // drawer components
  // content top section
  .contentTop {
    display: flex;
    flex-flow: row;
    align-items: center;
    min-height: 50px; // TODO elegantly
    @media #{$phone} {
      flex-flow: column;
      align-items: flex-start;
      > div {
        margin-left: 0;
        margin-bottom: 10px;
        &:first-child {
          margin-top: 10px;
        }
      }
      // @include spaceItemsVert(10px);
    }
  }

  // responsiveness
  // TODO move to separate file
  @media #{$phone} {
    table {
      th,
      td {
        &:nth-child(4) {
          width: unset;
        }
      }
    }
  }
  @media #{$phone} {
    h1 {
      margin-top: 0 !important;
    }
  }
}

// TODO move to a component
.downloadBtn {
  margin-left: auto;

  // data download buttons
  &.all,
  &.All_data,
  &.secondary,
  &.Court_Challenge,
  &.Policy,
  &.Plan {
    img {
      height: 30px;
      margin-right: 10px;
    }
    span {
      font-weight: normal;
      .primaryText {
        font-weight: 600;
      }
    }
    span:first-child {
      font-size: 1rem;
      + span {
        margin-top: 3px;
      }
    }
    div {
      display: flex;
      // align-items: center;
      flex-flow: column;
      justify-content: center;
    }
  }

  button {
    text-align: left;
  }

  // // master download button
  // &.secondary,
  // &.All_data,
  // &.all {
  //   &,
  //   &:hover {
  //     background-color: transparent;
  //     color: $dark-navy-blue;
  //   }
  //   &:active {
  //     color: black;
  //     background-color: darken($light-blue-3, 5%);
  //   }
  // }

  // // entity-specific download buttons
  // &.Policy,
  // &.Plan {
  //   padding: 10px;
  // }
  //
  // span {
  //   line-height: 1.5;
  // }
  // @media #{$phone} {
  //   display: none;
  //   div {
  //     font-size: 1rem;
  //     span:last-child {
  //       display: none;
  //     }
  //   }
  //   img {
  //     height: 30px;
  //   }
  // }
  //
  // &:hover {
  //   background-color: darken($dark-blue, 10%);
  // }
  // &:active {
  //   @include boxShadow();
  // }
  // &.loading {
  //   opacity: 0.75;
  //   pointer-events: none;
  // }
  //
  // img {
  //   margin-right: 20px;
  // }
  // div {
  //   font-weight: 300;
  //   line-height: 1;
  //   text-align: left;
  //   span:last-child {
  //     font-size: 1rem;
  //     font-weight: 200;
  //   }
  // }
}
