body {
  font-size: 16px;
}
body,
button {
  font-family: "Open Sans";
  font-weight: normal;
}

button {
  outline: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Raleway", serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  color: #409385;
  @media #{$phone} {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.9rem;
  color: $dark-blue;
  @media #{$phone} {
    font-size: 1.5rem;
  }
}
h3 {
  color: $dark-blue;
  text-transform: none;
  font-size: 1.25rem;
}
input[type="radio"] {
  margin: 0;
}

// cookie policy
// hide revoke menu
[class*="cc-revoke"] {
  display: none !important;
}
