body {
  font-size: 16px;
}
body,
button {
  font-family: "Open Sans";
  font-weight: normal;
}

button {
  outline: none;
}

p {
  margin: 0;
}

h1,
h2 {
  font-family: "Gotham Bold", serif;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 2.33rem;
  color: $cyan;
}

h2 {
  font-size: 1.84rem;
  color: $dark-blue;
}
input[type="radio"] {
  margin: 0;
}
