// VARIABLES
// colors currently used
$light-blue: #95cbee;
$light-blue-2: #abdaf4;
$light-blue-3: #d4eef9;
$cyan: #d4eef9;
$blue: #4682b4;
$dark-blue: #11315d;
$light-gray-2: #f2f2f2;
$light-gray-3: #f7f7f7;
$selected-blue: #0096c2;
$dark-navy-blue: #233343;
$amp-green: #409385;

// general colors
$gray: #999999;
$gray-2: #b3b3b3;
$light-gray: #efefef;
$dark-gray: #333;
$light-red: #dcc4cb;
$red: #67001f;
$green: darkgreen;
$white: #fff;
$light-cyan: #d9edf8;

// functional colors
$dark-selected-blue: $dark-blue;
$no-data-gray: #b3b3b3;

// general styles
$border: 1px solid #ccc;
$border-radius: 5px;

// // make colors available to JS
// :export {
//   red: $red;
//   lightred: $light-red;
//   darkblue: $dark-blue;
//   white: $white;
//   cyan: $cyan;
//   lightcyan: $light-cyan;
//   noDataGray: $no-data-gray;
//   gray: $gray;
//   darkSelectedBlue: $dark-selected-blue;
// }

// MIXINS
@mixin spaceItemsVert($size) {
  > :not(:first-child) {
    margin-top: $size;
  }
}
@mixin spaceItemsHoriz($size) {
  > :not(:last-child) {
    margin-right: $size;
  }
}

@mixin borderItemsVert($size) {
  > :not(:first-child) {
    margin-top: $size;
    padding-top: $size;
    border-top: $border;
  }
}

@mixin borderItemsHoriz($size) {
  > :not(:last-child) {
    margin-right: $size;
    padding-right: $size;
    border-right: $border;
  }
}

@mixin horiz() {
  display: flex;
  flex-flow: row;
}

@mixin boxShadow() {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
}

@mixin boxShadowStrong() {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
}

@mixin btn-primary() {
  border: 2px solid transparent;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #425379 0%, #213561 100%);
  background: -ms-linear-gradient(top, #425379 0%, #213561 100%);
  background: -o-linear-gradient(top, #425379 0%, #213561 100%);
  background: -webkit-linear-gradient(top, #425379 0%, #213561 100%);

  &:hover,
  &:active {
    background: white;
    color: #213561;
    border-color: #213561;
  }
  &:active {
    @include boxShadow();
  }
}

@mixin btn-secondary() {
  background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
  &:hover {
    background: -moz-linear-gradient(top, #ffffff 0%, darken(#e4e4e4, 5%) 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, darken(#e4e4e4, 5%) 100%);
    background: -o-linear-gradient(top, #ffffff 0%, darken(#e4e4e4, 5%) 100%);
    background: -webkit-linear-gradient(
      top,
      #ffffff 0%,
      darken(#e4e4e4, 5%) 100%
    );
  }
  &:active {
    background: -moz-linear-gradient(
      top,
      #ffffff 0%,
      darken(#e4e4e4, 10%) 100%
    );
    background: -ms-linear-gradient(top, #ffffff 0%, darken(#e4e4e4, 10%) 100%);
    background: -o-linear-gradient(top, #ffffff 0%, darken(#e4e4e4, 10%) 100%);
    background: -webkit-linear-gradient(
      top,
      #ffffff 0%,
      darken(#e4e4e4, 10%) 100%
    );
  }
}

@mixin sticky($top: 0) {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: $top;
}

@mixin disabled() {
  color: gray;
  pointer-events: none;
}

// globals
$phone: "screen and (max-width : 812px)";
$phone-narrow: "screen and (max-width : 500px)";
$max-width: 1300px;
