.filterBar {
  display: flex;
  margin-bottom: 1rem;

  select {
    margin-right: 0.5em;
    padding: 0 0.5em;
  }

  .datePicker {
    width: 11rem;
    border: 1px solid #767676;
    border-radius: 3px;
    padding: 0.25em 0;

    .datePickerFrame {
      border: 1px solid #76767633;
      // need to add this shadow to the expander instead, it's getting cut off
      // by the overflow setting on the expander
      box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.3);
    }
  }

  .hideRangeSelection {
    :global {
      .rdrDayNumber > span {
        color: #333 !important;
      }
    }
  }
}
