@import "../../../assets/styles/vars.scss";
.navWrapper {
  font-family: "Rawline", serif;
  border-bottom: 1px solid $amp-green;
  z-index: 1;
  width: 100%;
  background: white;

  .nav {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    .menu {
      .links {
        display: flex;
        font-size: 1rem;
        @include spaceItemsHoriz(2rem);
      }
      .hamburger {
        display: none;
      }
    }
    a {
      color: $dark-navy-blue;
    }
    .active {
      font-weight: bold;
    }
    a:first-child {
      margin-right: auto;
      display: flex;
      align-items: center;
    }
    img {
      height: 50px;
    }
  }
  &.wide {
    position: fixed;

    div {
      max-width: unset;
    }
    &[data-page="policymaps"] {
      + div {
        height: calc(100% - 127px);
        top: 127px;
        // height: calc(100% - 90px);
      }
    }
    border-bottom: none;
  }
  &:not(.wide) {
    position: fixed;
    top: 0;
    + div {
      margin-top: 127px;
    }
  }
}
@import "./plugins.module.scss";
@import "./responsive.module.scss";
