@import "../../../assets/styles/vars.scss";
.nav {
  border-bottom: 8px solid $light-blue;
  @include sticky();
  z-index: 1;
  width: 100%;
  background: white;

  div {
    max-width: $max-width;
    margin: 0 auto;
    padding: 40px 20px;
    @media #{$phone} {
      padding: 10px 20px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 50px;
    }
  }
}
