@import "../../../assets/styles/vars.module.scss";
.navWrapper {
  font-family: "Rawline", serif;
  border-bottom: 1px solid $amp-green;
  z-index: 2;
  width: 100%;
  background: white;

  .nav {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    .menu {
      .links {
        display: flex;
        font-size: 1rem;
        @include spaceItemsHoriz(2rem);
      }
      .hamburger {
        display: none;
      }
    }
    a {
      color: $dark-navy-blue;
    }
    .active {
      font-weight: bold;
    }
    > a:first-child {
      margin-right: auto;
      display: flex;
      align-items: center;
    }
    img {
      height: 50px;
    }
  }
  &.wide {
    position: fixed;

    div {
      max-width: unset;
    }
    &[data-page="policymaps"] {
      + div {
        height: calc(100% - 116px);
        top: 116px;
        // height: calc(100% - 90px);
      }
    }
    &[data-page="model"] {
      border-bottom: 2px solid $amp-green;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    }
    border-bottom: none;
  }
  &:not(.wide) {
    position: fixed;
    top: 0;
    + div {
      margin-top: 116px;
    }
  }
}
@import "./plugins.module.scss";
@import "./responsive.module.scss";

.hoverTarget {
  margin: -15px;
  padding: 15px;
}

.navSubmenu {
  padding: 15px;
  border: 1px solid #647f7966;
  border-radius: 5px;
  border-top-right-radius: 0;
  background-color: #fff;
}
