@import "../../../assets/styles/vars.scss";
.navWrapper {
  .nav {
    position: relative;

    .logos {
      margin-right: auto;
      a.localBanner {
        position: absolute;
        top: 0;
        img {
          height: 40px;
        }
      }
      a.logo img {
        margin-top: 40px;
        height: 46px;
      }
    }
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    .menu {
      .links {
        display: flex;
        font-size: 1rem;
        @include spaceItemsHoriz(2rem);
      }
      .hamburger {
        display: none;
      }
    }
    a {
      color: $dark-navy-blue;
    }
    .active {
      font-weight: bold;
    }
    a:first-child {
      margin-right: auto;
      display: flex;
      align-items: center;
    }
    img {
      height: 50px;
    }
  }
  &.wide {
    position: fixed;

    div {
      max-width: unset;
    }
    + div {
      height: calc(100% - 90px);
      top: 90px;
    }
    border-bottom: none;
  }
  &:not(.wide) {
    position: fixed;
    top: 0;
    + div {
      margin-top: 90px;
    }
  }
}
