@import "src/assets/styles/vars.module.scss";
.sparklineChart {
    .chartAreaRect {
        fill: transparent;
    }
    .line {
        stroke: #828282;
        stroke-width: 1px;
        fill: rgba(130, 130, 130, 0.4);
        width: auto;
    }
    .xAxisMarker {
        stroke: $orange;
        stroke-width: 1px;
        fill: none;
    }
}
